extends layout

block layout-content
  nav.navbar.sticky-top.bg-body-tertiary 
    div.container-fluid
      a.navbar-brand(href="/")
        img(src="/images/trophy.png", alt="Trophy", height="30px", width="30px")
        span.navbar-brand-text.title-fix Tourney Tracker
      div.navbar-nav.navbar-flex-fix
        a.nav-link.disabled Welcome, #{userProfile.name.givenName}!
        a.nav-link(href="/about") Logout
  div.container-fluid
    div.row
      div.col-2
        div.filter-sidebar
          div.accordion(id="searchAccordion")
            div.accordion-item
              h2.accordion-header 
                button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#collapseOne", aria-expanded="true", aria-controls="collapseOne") Filter Criteria #1
              div#collapseOne.accordion-collapse.collapse.show(aria-labelledby="headingOne", data-bs-parent="#searchAccordion")
                div.accordion-body
                  strong This is the filter criteria #1 accordion dropdown.
            div.accordion-item
              h2.accordion-header 
                button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo") Filter Criteria #2
              div#collapseTwo.accordion-collapse.collapse.show(aria-labelledby="headingTwo", data-bs-parent="#searchAccordion")
                div.accordion-body
                  strong This is the filter criteria #2 accordion dropdown.
            div.accordion-item
              h2.accordion-header 
                button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#collapseThree", aria-expanded="true", aria-controls="collapseThree") Filter Criteria #3
              div#collapseThree.accordion-collapse.collapse.show(aria-labelledby="headingThree", data-bs-parent="#searchAccordion")
                div.accordion-body
                  strong This is the filter criteria #3 accordion dropdown.
            div.accordion-item
              h2.accordion-header 
                button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#collapseFour", aria-expanded="true", aria-controls="collapseFour") Filter Criteria #4
              div#collapseFour.accordion-collapse.collapse.show(aria-labelledby="headingFour", data-bs-parent="#searchAccordion")
                div.accordion-body
                  strong This is the filter criteria #4 accordion dropdown.
            div.accordion-item
              h2.accordion-header 
                button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#collapseFive", aria-expanded="true", aria-controls="collapseFive") Filter Criteria #5
              div#collapseFive.accordion-collapse.collapse.show(aria-labelledby="headingFive", data-bs-parent="#searchAccordion")
                div.accordion-body
                  strong This is the filter criteria #5 accordion dropdown.
      div.col-10.tourneylist-main Columns 
  //div.View.UserView
    h1.Banner Howdy, #{userProfile.nickname}!
    div.Message
      div.Title
        h3 Making Us the Best
        h1 Teammate Profile
      pre.Details=JSON.stringify(userProfile, null, 2)